<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.AnnotationTransformer"></listener>
        <listener class-name="listeners.ListenerClass"></listener>
        <listener class-name="listeners.MethodInterceptor"></listener>
    </listeners>
    <test thread-count="1" name="Test" parallel="methods">
        <classes>
            <class name="OrangeHRMTests"></class>
            <class name="AmozonDemoTest"></class>
        </classes>
    </test>
</suite>